* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #EEE;
}

header {
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

strong{
    font-size: 14px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
}

u{
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

a{
    color: limegreen;
    font-size: 14px;
    font-weight: 10;
    font-family: "Times New Roman", Times, serif;
}

.pages h1{
    font-size: 28px;
    font-weight: 400;
    font-family: "Times New Roman", Times, serif;
}

header nav h1 {
    font-size: 14px;
    font-weight: 530;
    font-family: "Times New Roman", Times, serif;
}

.pages h1{
    font-size: 25px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    padding-left: 9px;
}

.equation h1{
    font-size: 20px;
    text-align: center;
}

h3{
    font-size: 16px;
    font-weight: 560;
    font-family: "Times New Roman", Times, serif;
    margin: 5px;
    padding-left: 5px;
}

p{
    font-size: 14px;
    font-weight: 10;
    font-family: "Times New Roman", Times, serif;
    margin: 10px;
}

input{
    margin: 5px;
    margin-left: 0px;
    width: 25%;
    border-radius: 3px;;
    background: #f3f3f3;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
}

button{
    background: limegreen;
    color: white;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
}

header nav .tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav .tabs .tab {
    display: block;
}

header nav .tabs li.tab a[data-switcher] {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #FFF;
    background-color: limegreen;
    cursor: pointer;
}

header nav .tabs .tab:hover a[data-switcher] {
    background-color: black;
}

header nav .tabs .tab.is-active a[data-switcher] {
    background-color: black;
    font-weight: 700;
}

main {
    padding-left: 10%;
    padding-right: 10%;
}

/*
Unordered List.
*/
dl {
    line-height: 18px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

dl dt{
    font-family: "Times New Roman", Times, serif;
}

dl dd{
    margin-left: 8%;
    font-family: "Times New Roman", Times, serif;
}


/*
Pages Styling.
*/
.pages {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0pxl;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

/*
Displaying Table.
*/
.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 10px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: limegreen;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 0;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid limegreen;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/*
Adjusting for mobile devices.
*/
@media only screen and (max-width: 550px) {
    .styled-table {
        border-collapse: collapse;
        margin: 0 auto;
        font-size: 7px;
        font-family: sans-serif;
        min-width: 180px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
}
@media only screen and (max-width: 445px) {
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        padding-right: 0px;
    }
    
    header nav h1 {
        font-size: 11px;
        font-weight: 530;
        font-family: "Times New Roman", Times, serif;
    }
}





