# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jrurs\OneDrive - North Central College\NCC\Inside School\Computer Science Classes\Data Mining & Machine Learning (CSC 364)\Python Workplace\Homework 4\Homework 4 - Bayesian Probability\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
